@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;
@use '../../styles/index' as *;
.form {
    @include mix.width(100%);
    @include mix.height(100%);
    @include mix.flex(column, space-around, center, nowrap, 1rem);
    &__items {
        @include mix.flex(column, start, center, nowrap, 1rem);
        @include mix.width(100%);
        @include mix.height(100%);
        &-item {
            @include mix.flex(column, start, start, nowrap, 0rem);
            @include mix.width(100%);
            @include mix.height(35px);
        }
    }
    &__buttons {
        margin-top: 1rem;
        @include mix.width(100%);
        @include mix.flex(row, center, center, nowrap, 1rem);
        @media (max-width: 600px) {
            @include mix.flex(column, start, center, nowrap, 1rem);
        }
    }
    &__button {
        @include mix.width(45%);
        @include mix.flex(row, center, center, nowrap, .5rem);
        & svg {
          @include mix.width(30px);
          @include mix.height(30px);
        }
    }
}
small {
    position: relative;
    top: 0;
    left: 0;
    margin-top: .5rem;
    display: block;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: vars.$desc3;
    font-weight: 700;
    @include mix.width(100%);
}
.form__items-item-radio {
  display: flex;
  gap: 16px; 
  @media (max-width: 480px) {
    flex-direction: column;
    gap: 12px;
  }
  label {
    flex: 1;
    cursor: pointer;
    .input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    .radio-label-text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background: vars.$white;
      border: 5px solid vars.$gray;
      border-radius: vars.$br3;
      font-size: vars.$input;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #666;
      transition: all 0.3s ease;
      svg, .icon {
        width: 24px;
        height: 24px;
      }
    }
    &.checked-label .radio-label-text {
      background: vars.$darkgreen;
      border-color: vars.$darkgreen;
      color: vars.$white; 
      svg, .icon {
        fill: #3BB273;
        stroke: #3BB273;
      }
    }
  }
}
.error-message {
  font-family: "Montserrat", sans-serif;
  font-size: vars.$desc3;
  margin-top: .5rem;
  display: block;
  font-weight: 700;
  color: vars.$danger;
}