@import "../../styles";

.button {
  cursor: pointer;
  color: $white;
  background: $carrot;
  border: 3px solid $carrot;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $carrot;
    background: none;
    border: 3px solid $carrot;
    color: $carrot;
    transition: all .25s;
  }
}

.button--default {
  cursor: pointer;
  color: $white;
  background: $carrot;
  border: 3px solid $carrot;
  transition: all .25s;
}
.button--disabled {
  cursor: not-allowed;
  color: $lightgray;
  background: $darkcarrot;
  border: 3px solid $darkcarrot;
  transition: all .25s;

  &:hover {
    cursor: not-allowed;
    color: $lightgray;
    background: $darkcarrot;
    border: 3px solid $darkcarrot;
    transition: all .25s;
  }

}

.button--error {
  cursor: pointer;
  color: $white;
  background: $danger;
  border: 3px solid $danger;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $danger;
    background: none;
    border: 3px solid $danger;
    transition: all .25s;
  }

}

.button--success {
  cursor: pointer;
  color: $white;
  background: $green;
  border: 3px solid $green;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $green;
    background: none;
    border: 3px solid $green;
    transition: all .25s;
  }

}

.button--header {
  @include width(150px);
  @include height(35px);
  cursor: pointer;
  color: $darkgreen;
  background: $white;
  font-size: $button2;
  border-radius: $br4;
  border: 3px solid $white;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $white;
    background: none;
    border: 3px solid $white;
    transition: all .25s;
  }

}