@import "../../styles";


.form {
    background: #000;
    @include width(70%);
    @include height(400px);
    @include flex(column, space-around, center, nowrap, 1rem);
    
    &__items {
        @include flex(column, start, center, nowrap, 1rem);
            @include width(100%);
            @include height(100%);

        &__item {
            @include flex(column, start, start, nowrap, .5rem);
            @include width(400px);
            @include height(35px);
        }
    }
}

small {
    position: relative;
    top: 0;
    left: 0;
    margin-top: .5rem;
    display: block;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: $desc3;
    font-weight: 700;
    @include width(100%);
}