.c-white { color: $white !important; }
.c-black { color: $black !important; }
.c-gray { color: $gray !important; }
.c-lightgray { color: $lightgray !important; }
.c-green { color: $green !important; }
.c-darkgreen { color: $darkgreen !important; }
.c-lightgreen { color: $lightgreen !important; }
.c-lightergreen { color: $lightergreen !important; }
.c-proteins { color: $proteins !important; }
.c-fats { color: $fats !important; }
.c-carbs { color: $carbs !important; }
.c-carrot { color: $carrot !important; }
.c-darkcarrot { color: $darkcarrot !important; }
.c-danger { color: $danger !important; }

.bg { display: block; width: 100%; border-radius: $br2; padding: .5rem 1rem; }

.bg-white { background-color: $white !important; }
.bg-black { background-color: $black !important; }
.bg-gray { background-color: $gray !important; }
.bg-lightgray { background-color: $lightgray !important; }
.bg-green { background-color: $green !important; }
.bg-darkgreen { background-color: $darkgreen !important; }
.bg-lightgreen { background-color: $lightgreen !important; }
.bg-lightergreen { background-color: $lightergreen !important; }
.bg-proteins { background-color: $proteins !important; }
.bg-fats { background-color: $fats !important; }
.bg-carbs { background-color: $carbs !important; }
.bg-carrot { background-color: $carrot !important; }
.bg-darkcarrot { background-color: $darkcarrot !important; }
.bg-danger { background-color: $danger !important; }

.f-unbounded {
  font-family: "Unbounded", sans-serif !important;
}

.f-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.heading1 {
  text-align: center;
  font-size: $heading1;
  font-weight: 700;
  color: $green;
  font-family: "Unbounded", sans-serif;
}

.heading2 {
  text-align: center;
  font-size: $heading2;
  color: $gray;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.heading3 {
  text-align: center;
  font-size: $heading3;
  color: $green;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.subheading {
  text-align: left;
  font-size: $subheading;
  color: $gray;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.desc1 {
  text-align: left;
  font-size: $desc1;
  color: $gray;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.desc2 {
  text-align: left;
  font-size: $desc2;
  color: $gray;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.numbers {
  text-align: start;
  font-size: $numbers;
  color: $black;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.r0 { rotate: 0deg; }
.r15 { rotate: 15deg; }
.r30 { rotate: 30deg; }
.r45 { rotate: 45deg; }
.r60 { rotate: 60deg; }
.r75 { rotate: 75deg; }
.r90 { rotate: 90deg; }
.r105 { rotate: 105deg; }
.r120 { rotate: 120deg; }
.r135 { rotate: 135deg; }
.r150 { rotate: 150deg; }
.r165 { rotate: 165deg; }
.r180 { rotate: 180deg; }
.r195 { rotate: 195deg; }
.r210 { rotate: 210deg; }
.r225 { rotate: 225deg; }
.r240 { rotate: 240deg; }
.r255 { rotate: 255deg; }
.r270 { rotate: 270deg; }
.r285 { rotate: 285deg; }
.r300 { rotate: 300deg; }
.r315 { rotate: 315deg; }
.r330 { rotate: 330deg; }
.r345 { rotate: 345deg; }

.mt0 { margin-top: 0rem; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }
.mt7 { margin-top: 7rem; }
.mt8 { margin-top: 8rem; }
.mt9 { margin-top: 9rem; }
.mt10 { margin-top: 10rem; }
.mt11 { margin-top: 11rem; }
.mt12 { margin-top: 12rem; }
.mt13 { margin-top: 13rem; }
.mt14 { margin-top: 14rem; }
.mt15 { margin-top: 15rem; }

.pt0 { padding-top: 0rem; }
.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pt4 { padding-top: 4rem; }
.pt5 { padding-top: 5rem; }
.pt6 { padding-top: 6rem; }
.pt7 { padding-top: 7rem; }
.pt8 { padding-top: 8rem; }
.pt9 { padding-top: 9rem; }
.pt10 { padding-top: 10rem; }
.pt11 { padding-top: 11rem; }
.pt12 { padding-top: 12rem; }
.pt13 { padding-top: 13rem; }
.pt14 { padding-top: 14rem; }
.pt15 { padding-top: 15rem; }

.smoothscrolling.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.smoothscrolling.hidden {
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s ease-in-out;
}

.smoothscrolling-l {
  transition: all 4s сubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow-x: visible; /* важно */
}
.smoothscrolling-l.hidden {
  opacity: 0;
  margin-left: -100%;
}
.smoothscrolling-l.visible {
  opacity: 1;
  margin-left: 0;
}

.smoothscrolling-r {
  transition: all 4s сubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow-x: visible; /* важно */
}
.smoothscrolling-r.hidden {
  opacity: 0;
  margin-right: -100%;
}
.smoothscrolling-r.visible {
  opacity: 1;
  margin-right: 0;
}