@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

$white: #FAFAFA !default;
$black: #2F2F2F !default;
$gray: #777777 !default;
$lightgray: #DFDFDF !default;
$green: #3BB273 !default;
$darkgreen: #247D4E !default;
$lightgreen: #9AE6BE !default;
$lightergreen: #ADE3C7 !default;
$proteins: #2D9CDB !default;
$fats: #EB5757 !default;
$carbs: #E9C46A !default;
$carrot: #E76F51 !default;
$darkcarrot: #B85018 !default;
$danger: #FF595E !default;

$numbers: clamp(30px, 10vw, 120px) !default;
$heading1: clamp(24px, 5vw, 64px) !default;
$heading2: clamp(16px, 3vw, 56px) !default;
$heading3: clamp(14px, 2.75vw, 50px) !default;
$subheading: clamp(14px, 2.75vw, 40px) !default;
$footer: clamp(10px, 3vw, 30px) !default;
$footer2: clamp(6px, 1.15vw, 26px) !default;
$header: clamp(12px, 7vw, 24px) !default;
$header2: clamp(8px, 7vw, 16px) !default;
$button: clamp(10px, 3vw, 24px) !default;
$button2: clamp(8px, 2.75vw, 22px) !default;

$desc1: clamp(14px, 2.5vw, 36px) !default;
$desc2: clamp(10px, 2vw, 30px) !default;
$input: clamp(8px, 3vw, 20px) !default;
$desc3: clamp(8px, 1vw, 20px) !default;
$li: clamp(6px, 0.5vw, 16px) !default;

$br1: clamp(10px, 5vw, 50px) !default;
$br2: clamp(10px, 4vw, 25px) !default;
$br3: clamp(5px, 3vw, 15px) !default;
$br4: clamp(5px, 2vw, 10px) !default;
