@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;
@use '../../styles/index' as *;

.calculator {
  position: relative;
  z-index: 1000;
  overflow: visible;
  margin-top: 15vh;
  @include mix.flex(column, start, center, nowrap, 1rem);
  @include mix.width(100%);
  @include mix.height(80vh);
  padding: 0;

  &__results {
    @include mix.flex(row, center, center, nowrap, 2rem);
    line-height: 1;

    @media (max-width: 800px) {
      gap: .5rem;
    }
  }
  &__saveresults {
    margin-top: 5vh;
    @include mix.flex(row, center, center, nowrap, 2rem);

    @media (max-width: 850px) {
      gap: .75rem;
    }
    &__texts {
      @include mix.flex(column, center, end, nowrap, 0rem);

      .subheading {
        line-height: 1.25;
        font-size: vars.$desc2;
      }
    }
  }
  .heading2 {
    line-height: 0.5;
  }
  &__more {
    @include mix.flex(column, center, start, nowrap, 1rem);
    @include mix.width(60%);
    @include mix.height(20vh);
    background: vars.$darkgreen;
    color: vars.$white;
    border-radius: vars.$br2;
    padding: 2rem;

    @media (max-width: 900px) {
    @include mix.width(80%);
    }
    @media (max-width: 850px) {
      padding: 1rem;
    }

    &__title {
      margin-top: 10vh;
      @include mix.width(60%);
      color: vars.$darkgreen;
      text-align: left;
      font-size: vars.$desc2;

      @media (max-width: 900px) {
        @include mix.width(80%);
      }
    }
    &__formula {
      @include mix.width(100%);
      color: vars.$white;
      text-align: left;
      line-height: 1.5;
      font-size: vars.$desc25;
    }
    &__description {
      @include mix.width(100%);
      color: vars.$lightgray;
      text-align: left;
      line-height: 1;
      font-family: "Montserrat", sans-serif;
      font-size: vars.$desc3;
    }
    &__list {
      @include mix.width(100%);
      @include mix.flex(column, center, start, nowrap, .35rem);

      &-item {
        color: vars.$lightgray;
        text-align: left;
        line-height: 1;
        font-family: "Montserrat", sans-serif;
        font-size: vars.$desc3;
        margin-left: 2rem;
        list-style-type: disc;
      }
      
    }
    &__formulaname {
      text-align: right;
      @include mix.width(100%);
      color: vars.$lightergreen;
      font-size: vars.$subheading;
      line-height: 1;
    }
  }

  &__rules {
    margin-top: 5vh;
    @include mix.flex(row, center, start, nowrap, 3rem);
    @include mix.width(100%);
    @include mix.height(20vh);

    @media (max-width: 600px) {
      gap: 1rem;
    }
    @media (max-width: 450px) {
      margin-top: 1vh;
    }

    &-item {
      @include mix.flex(column, start, center, nowrap, 1rem);
      @include mix.width(32%);
      @include mix.height(20vh);

      &__number {
        position: relative;
        top: 0;
        left: 0;
        background: vars.$darkgreen;
        text-align: center;
        @include mix.width(50%);
        padding: 1rem;
        border-radius: vars.$br2;
        line-height: 1;
        color: vars.$white;
        font-size: vars.$bignumbers;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;

      }
      &__image, &__image2 {
        position: absolute;
        bottom: -1rem;

        @media (max-width: 850px) {
          bottom: -.5rem;
        }
      }
      &__image {
        left: -2.5rem;
        animation: leafAnimation 2s 1s infinite forwards cubic-bezier(0.75, 0.26, 0.25, 0.75);
        @include mix.width(65px);

        @media (max-width: 850px) {
          left: -1rem;
          @include mix.width(35px);
        }
      }
      &__image2 {
        right: -2.5rem;
        animation: leafAnimation 2s 2s infinite forwards cubic-bezier(0.75, 0.26, 0.25, 0.75);
        @include mix.width(65px);

        @media (max-width: 850px) {
          right: -1rem;
          @include mix.width(35px);
        }
      }
      &__title {
        margin-top: 4vh;
        text-align: center;
        @include mix.width(100%);
        @include mix.height(calc(vars.$subheading + 80px));
        color: vars.$darkgreen;
        font-size: vars.$subheading;
        line-height: 1;

        @media (max-width: 800px) {
          @include mix.height(calc(vars.$subheading + 40px));
        }
        @media (max-width: 600px) {
          margin-top: 1vh;
          @include mix.height(calc(vars.$subheading + 30px));
        }
      }
      &__description {
        text-align: center;
        @include mix.width(100%);
        color: vars.$gray;
        font-family: "Montserrat", sans-serif;
        font-size: vars.$desc2;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}

.branch__calculator, .branch__calculator2 {
  display: block;
  position: absolute;
  top: 0;
  @include mix.height(2rem);
  z-index: 100;
  @media (max-width: 900px) {
    display: none;
  }

}
.branch__calculator {
  left: 1.5vw;
}
.branch__calculator2 {
  right: 1.5vw;
}
.branch__image-calculator {
  display: block;
  @include mix.width(17.5vh);

}

.move-to-account {
  @include mix.width(400px);
  @include mix.height(75px);
  font-size: vars.$desc25;
}

@media (max-width: 1500px) {
  .move-to-account {
    font-size: vars.$desc2;
  }
}

@media (max-width: 1200px) {
  .move-to-account {
    @include mix.width(300px);
    @include mix.height(60px);
    font-size: vars.$desc25;
  }
}

@media (max-width: 950px) {
  .move-to-account {
    @include mix.width(250px);
    @include mix.height(50px);
    font-size: vars.$desc2;
  }
}

@media (max-width: 650px) {
  .move-to-account {
    border-radius: vars.$br4;
    @include mix.width(200px);
    @include mix.height(35px);
    font-size: vars.$desc2;
  }
}

@media (max-width: 450px) {
  .move-to-account {
    @include mix.width(125px);
    @include mix.height(30px);
    font-size: vars.$desc25;
  }
}