@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');



// переменные

    $white: #FAFAFA;
    $black: #2F2F2F;
    $gray: #777777;
    $lightgray: #DFDFDF;
    $green: #3BB273;
    $darkgreen: #247D4E;
    $lightgreen: #9AE6BE;
    $lightergreen: #ADE3C7;
    $proteins: #2D9CDB;
    $fats: #EB5757;
    $carbs: #E9C46A;
    $carrot: #E76F51;
    $darkcarrot: #B85018;
    $danger: #FF595E;

    $numbers: clamp(30px, 10vw, 150px);
    $heading1: clamp(24px, 5vw, 64px);
    $heading2: clamp(16px, 3vw, 56px);
    $heading3: clamp(14px, 2.75vw, 50px);
    $subheading: clamp(14px, 2.75vw, 40px);
    $footer: clamp(10px, 3vw, 30px);
    $footer2: clamp(6px, 1.15vw, 26px);
    $header: clamp(12px, 7vw, 24px);
    $header2: clamp(8px, 7vw, 16px);
    $button: clamp(10px, 3vw, 24px);
    $button2: clamp(8px, 2.75vw, 22px);

    $desc1: clamp(14px, 2.5vw, 36px);
    $desc2: clamp(10px, 2vw, 30px);
    $input: clamp(8px, 3vw, 20px);
    $desc3: clamp(8px, 1vw, 20px);
    $li: clamp(6px, 0.5vw, 16px);

    $br1: clamp(10px, 5vw, 50px);
    $br2: clamp(10px, 4vw, 25px);
    $br3: clamp(5px, 3vw, 15px);
    $br4: clamp(5px, 2vw, 10px);



// классы модификации

.c-white { color: $white !important; }
.c-black { color: $black !important; }
.c-gray { color: $gray !important; }
.c-lightgray { color: $lightgray !important; }
.c-green { color: $green !important; }
.c-darkgreen { color: $darkgreen !important; }
.c-lightgreen { color: $lightgreen !important; }
.c-lightergreen { color: $lightergreen !important; }
.c-proteins { color: $proteins !important; }
.c-fats { color: $fats !important; }
.c-carbs { color: $carbs !important; }
.c-carrot { color: $carrot !important; }
.c-darkcarrot { color: $darkcarrot !important; }
.c-danger { color: $danger !important; }

.bg { display: block; width: 100%; border-radius: $br2; padding: .5rem 1rem; }

.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-gray { background-color: $gray; }
.bg-lightgray { background-color: $lightgray; }
.bg-green { background-color: $green; }
.bg-darkgreen { background-color: $darkgreen; }
.bg-lightgreen { background-color: $lightgreen; }
.bg-lightergreen { background-color: $lightergreen; }
.bg-proteins { background-color: $proteins; }
.bg-fats { background-color: $fats; }
.bg-carbs { background-color: $carbs; }
.bg-carrot { background-color: $carrot; }
.bg-darkcarrot { background-color: $darkcarrot; }
.bg-danger { background-color: $danger; }

.heading1 {
  text-align: center;
  font-size: $heading1;
  font-weight: 700;
  color: $green;
  font-family: "Unbounded", sans-serif;
}

.heading2 {
  text-align: center;
  font-size: $heading2;
  color: $gray;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.heading3 {
  text-align: center;
  font-size: $heading3;
  color: $green;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.subheading {
  text-align: left;
  font-size: $subheading;
  color: $gray;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.desc1 {
  text-align: left;
  font-size: $desc1;
  color: $gray;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.desc2 {
  text-align: left;
  font-size: $desc2;
  color: $gray;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.numbers {
  text-align: start;
  font-size: $numbers;
  color: $black;
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.r0 { rotate: 0deg; }
.r15 { rotate: 15deg; }
.r30 { rotate: 30deg; }
.r45 { rotate: 45deg; }
.r60 { rotate: 60deg; }
.r75 { rotate: 75deg; }
.r90 { rotate: 90deg; }
.r105 { rotate: 105deg; }
.r120 { rotate: 120deg; }
.r135 { rotate: 135deg; }
.r150 { rotate: 150deg; }
.r165 { rotate: 165deg; }
.r180 { rotate: 180deg; }
.r195 { rotate: 195deg; }
.r210 { rotate: 210deg; }
.r225 { rotate: 225deg; }
.r240 { rotate: 240deg; }
.r255 { rotate: 255deg; }
.r270 { rotate: 270deg; }
.r285 { rotate: 285deg; }
.r300 { rotate: 300deg; }
.r315 { rotate: 315deg; }
.r330 { rotate: 330deg; }
.r345 { rotate: 345deg; }

.smoothscrolling.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.smoothscrolling.hidden {
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s ease-in-out;
}





.smoothscrolling-l {
  transition: all 4s сubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow-x: visible; /* важно */
}
.smoothscrolling-l.hidden {
  opacity: 0;
  margin-left: -100%;
}
.smoothscrolling-l.visible {
  opacity: 1;
  margin-left: 0;
}


.smoothscrolling-r {
  transition: all 4s сubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow-x: visible; /* важно */
}
.smoothscrolling-r.hidden {
  opacity: 0;
  margin-right: -100%;
}
.smoothscrolling-r.visible {
  opacity: 1;
  margin-right: 0;
}

@mixin flex($fd, $jc, $ai, $fw, $g) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  gap: $g;
}

@mixin width($w) {
  max-width: $w;
  width: $w;
  min-width: $w;
}

@mixin height($h) {
  min-height: $h;
  height: auto;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all .4s;
}

*::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки */
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where( h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
body {
  overflow-x: hidden;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}
:where(ul[class]) {
  list-style: none;
}
img {
  user-select: none;
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Unbounded", sans-serif;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: $black;
  font-weight: 600;
  font-size: 20px;
  user-select: none;
}
:where(address[class]) {
  font-style: normal;
}
p {
  margin-block: 0;
}
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Unbounded", sans-serif;
}
html {
  height: 100%;
  scrollbar-gutter: stable;
}
html,
:has(:target) {
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
a:where([class]) {
  display: inline-flex;
}
button,
label {
  cursor: pointer;
}
button {
  border-radius: $br3;
  @include width(250px);
  @include height(50px);
  font-weight: 700;
  font-size: $button;
}
input {
  border-radius: $br3;
  @include width(600px);
  @include height(50px);
  padding: .5rem;
  font-weight: 700;
  font-size: $input;
}
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}
svg * {
  transition-property: fill, stroke;
}
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}
section {
  z-index: 1000;
  position: relative;
  @include height(200px);
  @include width(85vw);
  @include flex(column, start, center, wrap, 1rem);
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.waves {
  @include width(100%);
}

.branch {
  display: block;
  @include width(100vw);
  @include height(50px);
  position: relative;
  top: 0;
  left: 0;
  &__image {
    @include width(100%);
    @include height(100%);
  }
}

.container {
  position: relative;
  @include flex(column, start, center, nowrap, 1rem);
  @include width(100vw);
  min-height: 100vh;
  height: auto;
  background: $white;
  color: $black;
}


.button {
  cursor: pointer;
  color: $white;
  background: $carrot;
  border: 3px solid $carrot;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $carrot;
    background: none;
    border: 3px solid $carrot;
    color: $carrot;
    transition: all .25s;
  }
}

.button--default {
  cursor: pointer;
  color: $white;
  background: $carrot;
  border: 3px solid $carrot;
  transition: all .25s;
}
.button--disabled {
  cursor: not-allowed;
  color: $lightgray;
  background: $darkcarrot;
  border: 3px solid $darkcarrot;
  transition: all .25s;

  &:hover {
    cursor: not-allowed;
    color: $lightgray;
    background: $darkcarrot;
    border: 3px solid $darkcarrot;
    transition: all .25s;
  }

}

.button--error {
  cursor: pointer;
  color: $white;
  background: $danger;
  border: 3px solid $danger;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $danger;
    background: none;
    border: 3px solid $danger;
    transition: all .25s;
  }

}

.button--success {
  cursor: pointer;
  color: $white;
  background: $green;
  border: 3px solid $green;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $green;
    background: none;
    border: 3px solid $green;
    transition: all .25s;
  }

}

.button--header {
  @include width(150px);
  @include height(35px);
  cursor: pointer;
  color: $darkgreen;
  background: $white;
  font-size: $button2;
  border-radius: $br4;
  border: 3px solid $white;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: $white;
    background: none;
    border: 3px solid $white;
    transition: all .25s;
  }

}


.input {
  cursor: pointer;
  color: $white;
  background: $carrot;
  border: 3px solid $carrot;
  transition: all .25s;

  &::placeholder {
    font-family: "Montserrat", sans-serif;
    color: $gray;
  }
  &:focus {
    cursor: pointer;
    color: $carrot;
    background: none;
    border: 3px solid $carrot;
    color: $carrot;
    transition: all .25s;
  }
}


.create-account {
  @include width(400px);
  @include height(65px);

  @media (max-width: 750px) {
    @include width(300px);
    @include height(50px);
  }
  @media (max-width: 500px) {
    @include width(225px);
    @include height(35px);
  }
}

.overlay {
  display: none;
}

.overlay.open {
  display: block;
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);

}

.header {
  @include flex(row, space-between, center, nowrap, .75rem);
  @include width(95vw);
  background: $darkgreen;
  border-radius: $br1;
  @include height(clamp(50px, calc(15vh - 50px), 75px));
  font-family: "Unbounded", sans-serif;
  padding: 1rem 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
  z-index: 10000;
  position: fixed;
  &__leaf, &__leaf2 {
    position: fixed;
    top: 10px;
    z-index: 10001;
    @include width(65px);
  }
  &__leaf {
    left: 20px;
  }
  &__leaf2 {
    right: 20px;
  }
  &__item {
    @include flex(row, center, center, nowrap, .75rem);
  }
  &__item:first-child {
    @include width(25%);
    justify-content: start;
  }
  
  &__item:last-child {
    @include width(20%);
    justify-content: end;
  }

  &__logo {
    @include width(15%);

    &-image {
      @include width(100%);
    }

  }
  &__titles {
    @include width(70%);
    @include flex(column, center, start, nowrap, 0);

    &-title {
      // @include width(150%);
      text-wrap: none;
      font-size: $header;
      line-height: 1;
      color: $white;

    }
    &-subtitle {
      // @include width(150%);
      text-wrap: none;
      font-size: $header2;
      color: $white;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;

    }
  }
  .menu {
    @include width(40%);
  }
  &__links {
    font-size: $header;
    @include width(100%);
    @include flex(row, space-between, center, nowrap, 1rem);

    &-link {
      color: $white;

      &--active {
        color: $carrot;
      }

      &:hover {
        text-decoration: underline;
        scale: 1.1;
      }
      // &:active {
      //   text-decoration: underline;
      //   color: $lightgreen;
      // }
    }
  }
  &__account {
    display: block;
    @include width(10%);
    &-image {
      @include width(100%);
    }

  }
  &__signin {
    display: block;
    // @include width(10%);
    color: $darkgreen;
  }

  
}


@media (max-width: 1400px) {
  .header__logo {
    width: 100%;
  }
  .header__item:last-child {
    justify-content: end;
    margin-right: 1rem;
    @include width(10vw);
  }
  .header__account {
    @include width(35px);
  }
  .header__links {
    @include width(100%);
    justify-content: space-between;
    &-link {
      font-size: $header2;
    }
  }
  .header__item:first-child {
    margin-left: 1rem;
    @include width(25vw);
  }
}

@media (max-width: 1000px) {
  .header {
    justify-content: space-between;
  }
  .header__links {
    @include flex(column, start, start, nowrap, 5rem);
  }
  .header__item:first-child,
  .header__item:last-child {
    width: 45%;
  }
  .header__links-link {
    font-size: 24px;
    color: #2F2F2F;
  }
  .header__links-link:active {
    color: #247D4E;
  }
}

@media (max-width: 1250px) {
  .header__leaf, .header__leaf2 {
    @include width(55px);
  }
  .header__leaf {
    top: 10px;
    left: 10px;
  }
  .header__leaf2 {
    top: 10px;
    right: 10px;
  }
  .header__titles {
    display: none;
  }  
  .header__item:first-child {
    justify-content: start;
    @include width(15vw);
  }
  .header__logo {
    @include width(50px);
  }
}

@media (max-width: 985px) {
  .header__titles {
    display: flex;
    @include width(35vw);
  }
}
@media (max-width: 900px) {
  .header__links {
    @include width(50%);
    gap: 6rem !important;
  }
  .header__item:first-child {
    @include width(70%);
  }
  .header__titles {
    display: flex;
    @include width(100%);
  }
  .header__item:last-child {
    @include width(20%);
  }
}

@media (max-width: 650px) {
  .header__titles {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__leaf, .header__leaf2 {
    @include width(45px);
  }
  .header__leaf {
    top: 5px;
    left: 5px;
  }
  .header__leaf2 {
    top: 5px;
    right: 5px;
  }
  .header__links {
    @include width(100%);
    gap: 6rem !important;
  }
  .header__item:first-child {
    @include width(20%);
  }
  .header__item:last-child {
    @include width(60%);
  }
}





.footer {
  margin-top: -2rem;
  background: $green;
  @include width(100%);
  @include height(300px);
  padding: 3rem;
  @include flex(row, space-around, center, nowrap, 1rem);

  &__leafs {
    position: absolute;
    bottom: 0;
    left: 0;
    @include width(100%);
  }
  &__links {
    @include width(40%);
    @include flex(column, start, start, nowrap, .25rem);

    @media (max-width: 880px) {
      @include width(70%);
    }
    &__images {
      @include flex(row, start, center, nowrap, 2rem);
      @include width(100%);

      @media (max-width: 600px) {
        gap: 1rem;
      }
      &-image {
        @include width(50px);
        @media (max-width: 1000px) {
          @include width(35px);
        }
        @media (max-width: 400px) {
          @include width(25px);
        }
      }
    }
    &__title {
      font-size: $footer2;
      // font-family: "Montserrat", sans-serif;
      color: $white;
      @include width(100%);
    }
  }
  &__titles {
    @include width(40%);
    @include flex(row, end, center, nowrap, 1rem);

    @media (max-width: 880px) {
      @include width(10%);
    }
    
    &__texts {
      @include width(80%);
      @include flex(column, center, end, nowrap, 0rem);

      @media (max-width: 880px) {
        display: none;
      }
      &-title {
        line-height: 1;
        color: $white;
        font-size: $footer;
      }
      &-subtitle {
        font-family: "Montserrat", sans-serif;
        color: $white;
        font-weight: 700;
        font-size: $footer2;
      }
    }
    &__logo {
      @include width(80px);
      @media (max-width: 1000px) {
        @include width(65px);
      }
    }
  }
}
















.main {
  position: relative;
  z-index: 1000;
  @include flex(column, start, center, nowrap, 1rem);
  @include width(100%);
  @include height(100%);
  padding: 0;

  &__eatsmart {
    margin-top: 15vh;
    @include flex(row, center, center, nowrap, 1rem);
    @include height(20vh);
    padding: 2rem;

    &__image {
      @include width(30%);
    }
    &__titles {
      @include width(65%);
    }
  }
  @media (max-width: 1300px) {
    &__eatsmart {
      margin-top: 7.5vh;
      @include flex(column, center, center, nowrap, 1rem);
      &__image {
        @include width(35%);
      }
      &__titles {
        @include width(100%);
      }
    }
  }


  &__forwhat {
    @include flex(column, start, center, nowrap, 5rem);
      

    &__items {
      @include width(100%);
      @include flex(column, center, center, nowrap, 1rem);
      @media (max-width: 1200px) {
        gap: 3rem;
      }
      @media (max-width: 900px) {
        gap: 1rem;
      }
    }
    &__item {
      @include width(100%);
      @include height(350px);
      @include flex(row, start, start, nowrap, 1rem);
      @media (max-width: 1200px) {
        @include height(220px);
      }
      @media (max-width: 600px) {
        @include height(170px);
      }
      @media (max-width: 480px) {
        @include height(220px);
      }
    
      &-image {
        @include width(200px);
        @media (max-width: 1200px) {
          @include width(100px);
        }
        @media (max-width: 480px) {
          @include width(50px);
        }
      }
      &-texts {
        @include width(80%);
        @include height(100%);
        @include flex(column, start, start, nowrap, 1rem);
      }
    }
  }

  &__threesteps {
    @include width(85%);
    @include flex(column, start, center, nowrap, 2rem);

    &__image {
      @include width(90%);
    }
  }

  &__rightnow {
    margin-top: -1.5rem;
    @include width(100%);
    @include height(300px);
    @include flex(column, center, center, nowrap, 3rem);
    background: $green;

    &__image {
      @include width(75px);
      position: absolute;
      top: 5vh;
      left: 10vw;
    }
    &__image2 {
      @include width(75px);
      position: absolute;
      top: 5vh;
      right: 10vw;
    }

    @media (max-width: 900px) {
      &__image, &__image2 {
        @include width(50px);
        top: 6vh;
      }
    }

    @media (max-width: 500px) {
      &__image, &__image2 {
        @include width(35px);
        top: 7cap;
      }
      &__image { left: 5vw; }
      &__image2 { right: 5vw; }
    }

    @media (max-width: 400px) {
      &__image, &__image2 {
        @include width(25px);
        top: 6vh;
      }
    }
  }
}



.information {
  margin-top: 15vh;
  @include width(100%);
  @include flex(column, center, center, nowrap, 1rem);
  @include height(30vh);
  padding: 2rem;

  &__item {
    &-first {
      @include flex(row, center, center, nowrap, 4rem);
      @include width(100%);
      @include height(50%);
      margin-top: 10vh;
      @media (max-width: 1100px) {
        @include flex(column-reverse, center, center, nowrap, 1rem);
      }
      @media (max-width: 700px) {
        @include flex(row, space-around, center, nowrap, 1rem);
      }
    }
    &-last {
      @include flex(row-reverse, center, center, nowrap, 4rem);
      @include width(100%);
      @include height(50%);
      @media (max-width: 1100px) {
        @include flex(column-reverse, center, center, nowrap, 1rem);
      }
      @media (max-width: 700px) {
        @include flex(row-reverse, space-around, center, nowrap, 1rem);
      }
    }
    &-texts {

      &-first {
        @include width(60%);
        text-align: end;
        @include flex(column, center, end, nowrap, 0rem);
        @media (max-width: 1100px) {
          @include width(100%);
          text-align: center;
          @include flex(column, center, center, nowrap, .5rem);
        }
        @media (max-width: 700px) {
          text-align: end;
          @include width(80%);
          @include flex(column, center, end, nowrap, 0rem);
        }
      }
      &-last {
        @include width(60%);
        text-align: start;
        @include flex(column, center, start, nowrap, 0rem);
        @media (max-width: 1100px) {
          @include width(100%);
          text-align: center;
          @include flex(column, center, center, nowrap, .5rem);
        }
        @media (max-width: 700px) {
          text-align: start;
          @include width(80%);
          @include flex(column, center, start, nowrap, 0rem);
        }
      }
    }
  }
  &__waves {
    margin-top: -35vh;

    @media (max-width: 1400px) {
      margin-top: -30vh;
    }
    @media (max-width: 1100px) {
      margin-top: -25vh;
    }
    @media (max-width: 800px) {
      margin-top: -17.5vh;
    }
  }
}

.infomation__item-image {
  @include width(17.5%);
}