@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;
@use '../../styles/index' as *;
.my-button {
  background-color: green;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer; 
  &:hover {
    background-color: darkgreen;
  }
}
.main {
  position: relative;
  z-index: 1000;
  overflow: visible;
  @include mix.flex(column, start, center, nowrap, 1rem);
  @include mix.width(100%);
  @include mix.height(100%);
  padding: 0;
  &__eatsmart {
    margin-top: 15vh;
    @include mix.flex(row, center, center, nowrap, 1rem);
    @include mix.height(20vh);
    padding: 2rem;
    &__image {
      @include mix.width(30%);
    }
    &__titles {
      @include mix.width(65%);
    }
  }
  @media (max-width: 1300px) {
    &__eatsmart {
      margin-top: 7.5vh;
      @include mix.flex(column, center, center, nowrap, 1rem);
      &__image {
        @include mix.width(35%);
      }
      &__titles {
        @include mix.width(100%);
      }
    }
  }
  &__forwhat {
    @include mix.flex(column, start, center, nowrap, 5rem);
    @media (max-width: 600px) {
      gap: 1rem;
    }
    &__items {
      @include mix.width(100%);
      @include mix.flex(column, center, center, nowrap, 1rem);
      @media (max-width: 1200px) {
        gap: 3rem;
      }
      @media (max-width: 900px) {
        gap: 1rem;
      }
    }
    &__item {
      @include mix.width(100%);
      @include mix.height(350px);
      @include mix.flex(row, center, center, nowrap, 1rem);
      @media (max-width: 1200px) {
        @include mix.height(200px);
      }
      @media (max-width: 600px) {
        @include mix.height(190px);
      }
      @media (max-width: 480px) {
        @include mix.height(180px);
      } 
      &-image {
        @include mix.width(200px);
        @media (max-width: 1200px) {
          @include mix.width(100px);
        }
        @media (max-width: 480px) {
          @include mix.width(50px);
        }
      }
      &-texts {
        @include mix.width(80%);
        @include mix.height(100%);
        @include mix.flex(column, start, start, nowrap, 1rem);
      }
    }
  }
  &__threesteps {
    @include mix.width(85%);
    @include mix.flex(column, start, center, nowrap, 2rem);
    &__image {
      @include mix.width(90%);
    }
  }
  &__rightnow {
    margin-top: -1.5rem;
    @include mix.width(100%);
    @include mix.height(200px);
    @include mix.flex(column, center, center, nowrap, 3rem);
    background: vars.$green;
    &__image {
      animation: leafAnimation 2s 1s infinite forwards cubic-bezier(0.75, 0.26, 0.25, 0.75);
      @include mix.width(75px);
    }
    &__image2 {
      animation: leafAnimation 2s 2s infinite forwards cubic-bezier(0.75, 0.26, 0.25, 0.75);
      @include mix.width(75px);
    }
    &-inner {
      @include mix.flex(row, center, center, nowrap, 2rem);
    }
    @media (max-width: 900px) {
      &__image, &__image2 {
        @include mix.width(50px);
        top: 6vh;
      }
    }
    @media (max-width: 500px) {
      &__image, &__image2 {
        @include mix.width(35px);
        top: 7cap;
      }
      &__image { left: 5vw; }
      &__image2 { right: 5vw; }
    }
    @media (max-width: 400px) {
      &__image, &__image2 {
        @include mix.width(25px);
        top: 6vh;
      }
    }
  }
}

